# true  = usa o MongoDB embutido no projeto (mongodb-memory-server)
# false = usa o MONGO_URI abaixo (MongoDB instalado / Atlas)
#USE_MEMORY_DB=true

#MONGO_URI=mongodb://localhost:27017/todo-api
#JWT_SECRET=defina_uma_chave_secreta
#PORT=3000
